<html>
  <head>
    <title>Planet As A Service (Planetaas)</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>

  <body style="">
    <div class="container">
      <div class="hero-unit">
        <h1>404 Not found</h1>
        <p>Much like the absence of intelligent life that address is a mystery. Click <a href="/">here</a> to return home.</p>
        <img src='{{ img_url }}'/>
      </div>
    </div>
  </body>
</html>
