<html>
  <head>
    <title>Planet As A Service (Planetaas)</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>

  <body style="">
    <div class="container">
      <div class="hero-unit">
        <h1>Planetaas</h1>
        <h2>Planet As A Service</h2>
        <img src='{{ img_url }}'/>
      </div>
    </div>
    <div class="container">
      <div class="content" style="margin-left:50px; margin-right: 50px;">
        <h2 id="introduction">Introduction</h2>
        <p>Planetaas provides a way to see basic facts about a planet.</p>

        <h2 id="api">API</h2>

        <h3 id="system_api">/system/:name/</h3>

        <p>Will return basic info about the planets in a solar system. </p>

        <h3 id="systems">/systems/</h3>

        <p>Returns the list of star systems with known planets.</p>
      </div>
    </div>
  </body>
</html>
