<html>
  <head>
    <title>{{ planet_name | title }} Planetary Records</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>

  <body style="">
    <div class="container">
      <div class="hero-unit">
        <h1>{{ planet_name | title }}</h1>
        <h2> Discovered by ...</h2>
        <img src='{{ img_url }}'/>
      </div>
    </div>
    <div class="container">
      <div class="content" style="margin-left:50px; margin-right: 50px;">
        {{ planet_name | title}}

        Some basic info.
      </div>
    </div>
  </body>
</html>
