<html>
  <head>
    <title> All the Stars in the Sky</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>

  <body style="">
    <div class="container">
      <div class="hero-unit">
        <h1>Stars</h1>
        <h2>factoid</h2>
        <img src='{{ img_url }}'/>
      </div>
    </div>
    <div class="container">
      <div class="content" style="margin-left:50px; margin-right: 50px;">
        The following star systems are confirmed to have planets:
          <ul>
          {% for system in systems %}
            <li><a href="/system/{{ system | urlencode }}">{{ system }}</a></li>
          {% endfor %}
          </ul>
      </div>
    </div>
  </body>
</html>
