<html>
  <head>
    <title>{{ system.name }} System Records</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
      table {
        border-collapse: collapse;
      }

      table, th, td {
        border: 1px solid black;
      }
    </style>
  </head>

  <body style="">
    <div class="container">
      <div class="hero-unit">
        <h1>{{ system.name }}</h1>
        <h2>{{ system.fact }}</h2>
        <svg xmlns="//www.w3.org/2000/svg" width="300" height="300" style="background-color:black;">
          <circle cx="150" cy="150" r="{{ system.star.size }}"
            stroke="{{ system.star.color}}" stroke-width="4" fill="{{ system.star.color }}" />
          {% for orbit in system.orbits %}
            <ellipse cx="150" cy="150" rx="{{ orbit.major }}" ry="{{ orbit.minor }}" stroke="{{ orbit.color }}"
                stroke-width="4" style="fill: none; fill-opacity: 0.0" transform="rotate({{ orbit.rot }} 150 150)">
              <title>{{ orbit.name }}</title>
            </ellipse>
          {% endfor %}
        </svg>
      </div>
    </div>
    <div class="container">
      <div class="content" style="margin-left:50px; margin-right: 50px;">
        {{ system.name }} has the following planets:
          <table style="border: 1px solid black; border-collapse: collapse;">
            <tr>
              <td> Name </td>
              <td> Period (days) </td>
              <td> Semimajor axis (AU) </td>
              <td> Eccentricity </td>
              <td> Inclination (deg) </td>
              <td> Radius (Jupiters)</td>
              <td> Density (g/cm^3) </td>
              <td> Equilibrium Temperature (K) </td>
            </tr>
          {% for planet in system.planets %}
            <tr>
              <td>{{ planet.name | title}}</td>
              <td>{{ planet.period }}</td>
              <td>{{ planet.semimaj }}</td>
              <td>{{ planet.eccen }}</td>
              <td>{{ planet.incl }}</td>
              <td>{{ planet.radj }}</td>
              <td>{{ planet.dens }}</td>
              <td>{{ planet.eqt }}</td>
            </tr>
          {% endfor %}
          </table>
      </div>
    </div>
  </body>
</html>
